body {
   background-color: #61B0DC;
}

label {
   position: relative;
}

input {
   width: 403px;
   height: 36.88337326049805px;
   margin-bottom: 22px;
   display: block;
}

.input__div {
   width: 887px;
   height: 519px;
   background-color: #fff;
   box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.btn {
   height: 60px;
   width: 170px;
   margin: 0 auto;
   border-radius: 8px;
   background-color: #61B0DC;
}

.show {
   position: absolute;
   top: 29px;
   right: 12px;
   font-size: 23px;
   display: none;
}

.eye {
   position: absolute;
   top: 29px;
   right: 12px;
   font-size: 23px;
   display: none;
}

.grid__div {
   display: grid;
   grid-template-columns: auto auto;
}

.regis__btn {
   border: none;
   background-color: #61B0DC;
}

.showw {
   position: relative;
}

.bi {
   display: none;
   right: 70px;
   font-size: 23px;
}